/*
* &<name = "Purpose">
*
* Return &<Name = "Return Value"> 
*/
function &<name = "Function Name" lowercase = "true" >(&<name = "Parameters">) return &<Name = "Return Type"> is
  --
  -- co_unit Program unit name. Used for logging.
  co_unit constant sys_public_types.object_name_type := '&<name = "Function Name" lowercase = "true" >';
begin
  /*
  TODO: owner="$OSUSER" category="Finish" priority="1 - High" created="$DATE"
  text="Stubbed: Add functionality"
  */
  [#]
  --
  return ;
exception
  WHEN OTHERS THEN
      utl_log.excep(in_module      => co_package_name,
                    in_unit        => co_unit,
                    in_errmsg      => SQLERRM,
                    in_call_stack  => utl_exception_stack.call_stack,
                    in_error_stack => utl_exception_stack.error_stack,
                    in_back_trace  => utl_exception_stack.back_trace);
       RAISE;                    
end &<name = "Function Name" lowercase = "true" >;