/**
* &<Name = "Purpose">
*/
constructor function &<Name = "Type Name" lowercase = "True">(&<name = "Parameters">) return self as result is
    --
    -- co_type_name Type name. Used in logging.
    -- co_unit      Program unit name. Used in logging.
    co_type_name CONSTANT sys_public_types.object_name_type := '&<Name = "Type Name" lowercase = "True">';
    co_unit      CONSTANT sys_public_types.object_name_type := '&<Name = "Type Name" lowercase = "True">';
begin
  /*
  TODO: owner="$OSUSER" category="Finish" priority="1 - High" created="$DATE"
  text="Stubbed: Add functionality"
  */
  [#]
  --
  return;
exception
  WHEN OTHERS THEN
    utl_log.excep(in_module      => co_type_name,
                  in_unit        => co_unit,
                  in_errmsg      => SQLERRM,
                  in_call_stack  => utl_exception_stack.call_stack,
                  in_error_stack => utl_exception_stack.error_stack,
                  in_back_trace  => utl_exception_stack.back_trace);
    RAISE;

end &<name = "Type Name" lowercase = "true" >;
