create or replace type &Name as object
(
  -- Author  : $OSUSER
  -- Created : $DATE $TIME
  -- Purpose : &Purpose
  
  -- Attributes
  [#]<Attribute> <Datatype>,
  
  -- Member functions and procedures
  member procedure <ProcedureName>(<Parameter> <Datatype>)
)
/
